body {
    background-color: #E8F4F2;
    margin: 1em;
    
}

h3 {
    color: #66BFBF;
    text-transform: uppercase;
}

hr {
    
    background-color: #E8F4F2;
    border-style: dotted none none;
    width: 10%;
    border-width: 5px;
    align-self: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-decoration: underline overline;
    animation-name: slidein;
    animation-duration: 2s;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.a {
    text-indent: 25px;
    font-size: large;
    font-family: cursive;
}

p.b {
    padding-left: 25px;
    text-align: justify;
}
