body {
    background-color: #E8F4F2;
}

#heading {
    animation-name: slidein;
    animation-duration: 1s;
}

@keyframes slidein {
    from {
        margin-left: 300%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

p.a {
    text-align-last: center;
}

p.b {
    text-indent: 10px;
}


h1 {
    color: #66BFBF;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

h1 span{
    transition: .5s linear
  }
  h1:hover span:nth-child(1){
    margin-right: 5px
  }

  h1:hover span{
    color: black;
  }

h3 {
    color: #66BFBF;
    text-transform: uppercase;
    padding: 10px;
}

hr {
    
    background-color: #E8F4F2;
    border-style: dotted none none;
    width: 10%;
    border-width: 5px;
    align-self: center;
}

footer{
    text-align: right;
    font-family: monospace;
}

div {
    padding-left: 15px;
}

.x {
    width: 70%;
    margin-left: 50px;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}

.y {
    height: 50px;
    border-bottom: 1px solid #ddd;
    background-color: #c6cece;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}

.z {
    height: 25px;
    border-bottom: 1px solid #ddd;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}


tr:nth-child(even) {background-color: #f2f2f2;}

.plink {
    background: whitesmoke;
    color: #F55353;
    display: inline-block;
    padding: 15px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.plink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F55353;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.plink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}