body {
    background-color: #E8F4F2;
}

#heading {
    animation-name: slidein;
    animation-duration: 1s;
}

@keyframes slidein {
    from {
        margin-left: 300%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

p.a {
    text-align-last: center;
}

p.b {
    text-indent: 10px;
}

h1 {
    color: #66BFBF;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

h1 span{
    transition: .5s linear;
  }
  h1:hover span:nth-child(1){
    margin-right: 5px;
  }

  h1:hover span{
    color: black;
  }

h3 {
    color: #66BFBF;
    text-transform: uppercase;
    
}

hr {
    
    background-color: #E8F4F2;
    border-style: dotted none none;
    width: 10%;
    border-width: 5px;
    align-self: center;
}

footer{
    text-align: right;
}

div {
    padding-left: 15px;
}

